@import "tailwindcss";

@theme {
  --color-surface: rgb(255, 250, 255);
  --color-surface-2: rgb(241 245 249);
  --color-surface-3: rgb(174, 212, 255);
  --color-fg: rgb(22, 22, 22);
  --color-fg-muted: rgb(109, 109, 109);
  --color-fg-muted-2: rgb(138, 138, 138);
  --color-fg-inverted: rgb(255, 250, 255);
  --color-primary: rgb(72, 99, 156);
  --color-primary-hover: rgba(72, 99, 156, 0.836);
  --color-destructive: rgb(215, 38, 61);
  --color-success: rgb(21, 127, 31);
}